In [26]:
import pandas as pd
import numpy as np

In [2]:
DF_test = pd.read_csv("test_housing.csv")
DF_train = pd.read_csv("train_housing.csv")

In [3]:
DF_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,3
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,NEAR BAY,10
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,NEAR BAY,11
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,NEAR BAY,12
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,NEAR BAY,13
...,...,...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND,20635
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND,20636
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND,20637
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND,20638
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND,20639

In [4]:
DF_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,4
4,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,5
...,...,...,...,...,...,...,...,...,...,...,...
11995,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667,93800.0,INLAND,20626
11996,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952,92400.0,INLAND,20628
11997,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250,115600.0,INLAND,20632
11998,-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2.5495,98300.0,INLAND,20633
11999,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125,116800.0,INLAND,20634

In [5]:
ocean_porximity = DF_train.ocean_proximity.unique()

In [6]:
ocean_porximity

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
df_test, df_validate = train_test_split(DF_test, test_size=0.40)

In [9]:
df_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id
1769,-118.24,34.12,34.0,80.0,26.0,125.0,35.0,0.8907,<1H OCEAN,4199
3980,-120.50,37.30,29.0,1572.0,456.0,1697.0,429.0,1.7600,INLAND,9609
6487,-116.97,33.13,10.0,5149.0,851.0,2177.0,783.0,6.7957,<1H OCEAN,15562
8111,-120.85,37.77,20.0,651.0,157.0,421.0,151.0,2.0833,INLAND,19385
8157,-120.99,37.67,28.0,1768.0,423.0,1066.0,392.0,1.8315,INLAND,19487
...,...,...,...,...,...,...,...,...,...,...
7404,-121.76,37.30,6.0,3526.0,559.0,1378.0,491.0,6.1463,<1H OCEAN,17745
4801,-118.02,33.77,34.0,2115.0,352.0,1253.0,338.0,5.1507,<1H OCEAN,11566
4381,-117.69,33.53,17.0,5041.0,778.0,2396.0,801.0,6.0868,<1H OCEAN,10511
2209,-118.46,34.05,21.0,3639.0,1002.0,1489.0,983.0,4.6197,<1H OCEAN,5286
1311,-118.59,35.72,28.0,1491.0,408.0,98.0,48.0,1.4205,INLAND,3086

In [10]:
df_validate

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id
1854,-118.25,34.08,47.0,2133.0,689.0,2104.0,662.0,2.6136,<1H OCEAN,4413
7172,-122.24,37.43,36.0,2410.0,361.0,934.0,377.0,7.6520,NEAR OCEAN,17169
155,-122.17,37.74,41.0,1613.0,445.0,1481.0,414.0,2.4028,NEAR BAY,331
544,-120.91,38.11,9.0,3585.0,680.0,1800.0,598.0,3.6360,INLAND,1219
194,-122.25,37.89,41.0,1125.0,195.0,356.0,181.0,6.1593,NEAR BAY,418
...,...,...,...,...,...,...,...,...,...,...
6284,-116.97,32.83,17.0,6659.0,1402.0,3183.0,1378.0,2.9490,<1H OCEAN,15101
8532,-118.87,34.22,14.0,3108.0,451.0,1566.0,434.0,6.2423,<1H OCEAN,20394
4646,-117.98,33.82,34.0,1290.0,220.0,867.0,241.0,5.5486,<1H OCEAN,11171
8376,-119.01,36.02,17.0,3915.0,742.0,1768.0,688.0,2.3750,INLAND,20013
5853,-117.12,32.77,48.0,2012.0,422.0,893.0,394.0,2.7928,NEAR OCEAN,14080

In [11]:
test = DF_train.median_house_value.median()

In [12]:
test

np.float64(179200.0)

In [13]:
df_validate['predict_median_house_value'] = test

In [14]:
df_validate

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id,predict_median_house_value
1854,-118.25,34.08,47.0,2133.0,689.0,2104.0,662.0,2.6136,<1H OCEAN,4413,179200.0
7172,-122.24,37.43,36.0,2410.0,361.0,934.0,377.0,7.6520,NEAR OCEAN,17169,179200.0
155,-122.17,37.74,41.0,1613.0,445.0,1481.0,414.0,2.4028,NEAR BAY,331,179200.0
544,-120.91,38.11,9.0,3585.0,680.0,1800.0,598.0,3.6360,INLAND,1219,179200.0
194,-122.25,37.89,41.0,1125.0,195.0,356.0,181.0,6.1593,NEAR BAY,418,179200.0
...,...,...,...,...,...,...,...,...,...,...,...
6284,-116.97,32.83,17.0,6659.0,1402.0,3183.0,1378.0,2.9490,<1H OCEAN,15101,179200.0
8532,-118.87,34.22,14.0,3108.0,451.0,1566.0,434.0,6.2423,<1H OCEAN,20394,179200.0
4646,-117.98,33.82,34.0,1290.0,220.0,867.0,241.0,5.5486,<1H OCEAN,11171,179200.0
8376,-119.01,36.02,17.0,3915.0,742.0,1768.0,688.0,2.3750,INLAND,20013,179200.0
5853,-117.12,32.77,48.0,2012.0,422.0,893.0,394.0,2.7928,NEAR OCEAN,14080,179200.0

In [15]:
DF_sub = pd.read_csv("submission.csv")

In [16]:
DF_sub

         id  median_house_value
0         3                   0
1        10                   0
2        11                   0
3        12                   0
4        13                   0
...     ...                 ...
8635  20635                   0
8636  20636                   0
8637  20637                   0
8638  20638                   0
8639  20639                   0

[8640 rows x 2 columns]

In [17]:
DF_sub.median_house_value = test

In [18]:
DF_sub

         id  median_house_value
0         3            179200.0
1        10            179200.0
2        11            179200.0
3        12            179200.0
4        13            179200.0
...     ...                 ...
8635  20635            179200.0
8636  20636            179200.0
8637  20637            179200.0
8638  20638            179200.0
8639  20639            179200.0

[8640 rows x 2 columns]

In [19]:
DF_sub.to_csv("submision_stupid.csv", index=False)

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
reg = LinearRegression()

In [22]:
df_train, df_validate = train_test_split(DF_train, test_size=0.25)

In [23]:
df_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
9839,-122.37,37.58,52.0,1900.0,290.0,665.0,276.0,4.5486,500001.0,NEAR OCEAN,16898
11991,-121.56,39.01,22.0,1891.0,340.0,1023.0,296.0,2.7303,99100.0,INLAND,20619
2855,-118.25,34.01,30.0,962.0,291.0,1280.0,263.0,1.4464,110200.0,<1H OCEAN,4903
8475,-117.29,32.92,25.0,2355.0,381.0,823.0,358.0,6.8322,500001.0,NEAR OCEAN,14485
1647,-118.95,35.38,35.0,2220.0,388.0,906.0,373.0,3.5938,95200.0,INLAND,2851
...,...,...,...,...,...,...,...,...,...,...,...
11612,-118.54,36.12,11.0,4103.0,882.0,356.0,171.0,2.1029,99100.0,INLAND,19975
4318,-118.24,33.96,44.0,1338.0,366.0,1765.0,388.0,1.7778,109900.0,<1H OCEAN,7398
2362,-118.36,34.15,41.0,3545.0,698.0,1221.0,651.0,4.3000,500001.0,<1H OCEAN,4078
2218,-118.44,34.19,11.0,2891.0,951.0,2166.0,768.0,2.8910,178100.0,<1H OCEAN,3841
10293,-121.88,37.32,38.0,1787.0,508.0,2113.0,530.0,2.6386,177600.0,<1H OCEAN,17667

In [24]:
df_train.to_csv("training_set.csv",index=False)
df_validate.to_csv("validate_set.csv", index=False)

In [47]:
reg.fit(df_train[["total_rooms", "population"]], df_train.median_house_value)

LinearRegression()

In [48]:
reg.coef_

array([ 34.48795715, -61.5739461 ])

In [49]:
objetÃ¨predict = reg.predict(df_train[["total_rooms", "population"]])

In [41]:
from sklearn.metrics import root_mean_squared_error

In [50]:
root_mean_squared_error(objetÃ¨predict, df_train.median_house_value)

np.float64(110413.2357620902)

In [51]:
predict_valid = reg.predict(df_validate[["total_rooms", "population"]])

In [52]:
root_mean_squared_error(predict_valid, df_validate.median_house_value)

np.float64(110719.18624439488)

In [46]:
predict_valid

array([231775.93591853, 209969.60799277, 196618.64267478, ...,
       213409.96294615, 216230.90475174, 196021.61795402])

### Build submission file

In [62]:
DF_test["pediction"] = reg.predict(DF_test[["total_rooms", "population"]])

In [63]:
DF_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,id,pediction
0,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY,3,214029.715243
1,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,NEAR BAY,10,224360.510450
2,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,NEAR BAY,11,232654.418718
3,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,NEAR BAY,12,222751.628200
4,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,NEAR BAY,13,207210.926530
...,...,...,...,...,...,...,...,...,...,...,...
8635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND,20635,209842.783957
8636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND,20636,206568.101080
8637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND,20637,220181.211450
8638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND,20638,222971.625996
8639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND,20639,215096.217178

In [68]:
DF_sub.median_house_value = DF_test["pediction"]

In [67]:
df_test.isna().sum()

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        51
population             0
households             0
median_income          0
ocean_proximity        0
id                     0
pediction              0
dtype: int64

In [69]:
DF_sub.isna().sum()

id                    0
median_house_value    0
dtype: int64

In [70]:
DF_sub.to_csv("submission_1st_regl.csv", sep=",", index=False)