In [10]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error
import os
from ynov import utils

In [3]:
folder_path = "../ynov-data"

In [4]:
folder_path = utils.get_data_path()

In [5]:
print(folder_path)

C:\Users\filou\Documents\ynov\M2\ML\Ynov_ML\2425-YNOV-master\ynov-data

In [8]:
df_train = pd.read_csv(os.path.join(folder_path, "train_housing_data.csv"))
df_valid = pd.read_csv(os.path.join(folder_path, "train_housing_data.csv"))
submission = pd.read_csv(os.path.join(folder_path, "submission.csv"))

In [14]:
df_train_OG = df_train

In [15]:
df_train

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,7729,-121.32,36.79,30.0,516.0,90.0,288.0,95.0,3.6333,202500.0,INLAND,13171
1,3546,-117.74,34.03,27.0,3623.0,809.0,3712.0,754.0,3.4609,123300.0,INLAND,6050
2,3527,-117.80,34.05,5.0,4536.0,1178.0,2485.0,909.0,4.1118,125900.0,<1H OCEAN,6018
3,10159,-120.46,34.74,15.0,2185.0,386.0,827.0,336.0,5.3765,223100.0,NEAR OCEAN,17449
4,6959,-117.35,33.99,45.0,131.0,28.0,89.0,31.0,2.6071,112500.0,INLAND,11892
...,...,...,...,...,...,...,...,...,...,...,...,...
8395,11964,-121.92,38.57,10.0,1320.0,246.0,898.0,228.0,1.9327,193800.0,INLAND,20574
8396,5191,-118.39,34.08,28.0,833.0,230.0,349.0,210.0,3.0670,375000.0,<1H OCEAN,8845
8397,5390,-119.85,36.97,13.0,2872.0,477.0,1607.0,481.0,4.4750,102400.0,INLAND,9239
8398,860,-122.07,37.89,38.0,2139.0,343.0,809.0,340.0,5.5636,268800.0,NEAR BAY,1528
8399,7270,-116.24,33.72,25.0,5236.0,1039.0,2725.0,935.0,3.7750,93400.0,INLAND,12410

In [9]:
df_train.isna().sum()

Unnamed: 0             0
longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        82
population             0
households             0
median_income          0
median_house_value     0
ocean_proximity        0
id                     0
dtype: int64

In [11]:
ModelRegL = LinearRegression()

In [13]:
df_train["ocean_proximity"].unique()

array(['INLAND', '<1H OCEAN', 'NEAR OCEAN', 'NEAR BAY', 'ISLAND'],
      dtype=object)